<section>
    <figure class="figure-image">
        <img class="image_init" src="./../../../assets/welcome.svg" alt="">
        <div>
            <p>Proyecto de prueba para la Autenticación de usuarios con el Servicio de <strong>Firebase Authentication.</strong></p>
        </div>
    </figure>
    <p style="margin-left: 50px;"><strong>Contiene:</strong> <br>* Registro de usuarios <br>* Login <br>* Verificación de correo al registrarse <br>* Recuperar clave por correo <br>* Cerrar Sesión</p>
    
    <div class="container-link">
        <a class="link" routerLink="/usuario">Iniciar sesión</a>
    </div>
</section>
