<section>
    <h2>Login</h2>
    <div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
    <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <input type="text" placeholder="Correo" formControlName="usuario">
        </div>
        <br>
        <div>
            <input type="password" placeholder="Contraseña" formControlName="password">
        </div>

        <br>

        <div>
            <button type="button" routerLink="/">Volver</button>
            <button type="submit">Aceptar</button>
        </div>
    </form>    

    <br>

    <div *ngIf="!loading">
        <p>
            <a class="link" routerLink="/usuario/registrar">Registrarse</a>
        </p>

        <p>
            <a class="link" routerLink="/usuario/recuperar-password">Recuperar clave</a>
        </p>

        <p>
            Authetication Test
        </p>
    </div>
</section>
