<section class="center">
    <h2>Login</h2>
    <div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>

    <figure class="figure-image">
        <img class="image_init" src="./../../../../assets/login.svg" alt="">
        <div>
            <p>Si Ud ya se encuentra registrado, por favor ingrese sus datos.</p>
        </div>
    </figure>

    <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <input type="text" placeholder="Correo" formControlName="usuario">
        </div>
        <br>
        <div>
            <input type="password" placeholder="Contraseña" formControlName="password">
        </div>

        <br>

        <div>
            <button type="button" routerLink="/">Volver</button>
            <button type="submit">Aceptar</button>
        </div>
    </form>    

    <br>

    <div *ngIf="!loading" class="container-link">
        <div>
            <a class="link" routerLink="/usuario/registrar">Registrarse</a>
        </div>

        <div>
            <a class="link" routerLink="/usuario/recuperar-password">Recuperar clave</a>
        </div>
    </div>
</section>
