<section class="center">
    <h2>Recuperar Clave</h2>
    <figure class="figure-image">
        <img class="image_init" src="./../../../../assets/password.svg" alt="">
        <div>
            <p>Ingrese el correo para enviarle un enlace de recuperación de clave.</p>
        </div>
    </figure>
    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarClave()">
        <input type="text" class="inputDiseno" placeholder="Correo" formControlName="usuario">
        
        <br><br>

        <div class="flexOption">
            <button type="button" class="regresar" routerLink="/usuario">Volver</button>
            <button type="submit" class="aceptar">Aceptar</button>
        </div>
    </form>
</section>
