/* You can add global styles to this file, and also import other style files */
body {
    background-image: radial-gradient(rgb(189, 180, 180), rgb(103, 104, 59));
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.container-link {
    text-align: center;
    margin-top: 100px;
}

.link {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(184, 165, 62);
    border-radius: 10px;
    color: rgb(7, 7, 7);
    font-weight: bold;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
}

.link:hover {
    background-color: rgb(173, 167, 128);
}

.center {
    text-align: center;
}

.image_init {
    width: 200px;
    height: auto;
}

.figure-image {
    text-align: center;
}

.inputDiseno {
    border-radius: 7px;
    height: 25px;
    border: 1px solid white;
}

.regresar {
    background-color: rgb(127, 175, 230);
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 206);
    width: 68px;
    height: 28px;
    cursor: pointer;
}

.aceptar {
    background-color: rgb(116, 187, 82);
    border-radius: 20px;
    border: 1px solid rgb(226, 226, 206);
    width: 68px;
    height: 28px;
    cursor: pointer;
}

.flexOption {
    margin-top: 5px;
    display: flex;
    gap: 0 30px;
    text-align: center;
    justify-content: center;
}

.container {
    height: 90vh;
}

/* *********** FOOTER *********** */
.footer {
    height: 10vh;
    text-align: center;
    color: #fff;
    background-color: #14192d;
    line-height: 10vh;
}

.footer small {
    font-size: 13px;
}

.footer small  a {
    margin-left: 5px;
    color: #d90062;
    font-weight: bold;
}
/* *********** FOOTER *********** */
