/* You can add global styles to this file, and also import other style files */
body {
    background-image: radial-gradient(rgb(189, 180, 180), rgb(103, 104, 59));
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.container-link {
    text-align: center;
    margin-top: 100px;
}

.link {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(184, 165, 62);
    border-radius: 10px;
    color: rgb(7, 7, 7);
    font-weight: bold;
    width: 170px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
}

.link:hover {
    background-color: rgb(173, 167, 128);
}

.center {
    text-align: center;
}

.image_init {
    width: 200px;
    height: auto;
}

.figure-image {
    text-align: center;
}
