/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(58, 65, 62);
}

.link {
    text-decoration: none;
    color: rgb(193, 196, 53);
    font-weight: bold;
}
